
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width:100%;
}
.container{
  display: flex;
  height: 100vh;
}
.left{
  width: 50%;
  
}
#nav{
  display: flex;
  gap: 200px;
  padding-top: 45px;
  padding-left: 60px;

}
#nav span{
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;


}
#search{
  display: flex;
  height: 30px;
  align-items: center;
  width: 250px;
  background-color: rgb(225, 218, 218);
  border-radius: 22px;
  gap: 15px;
  padding: 10px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
#serach p{
  font-size: 1px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(210, 211, 211);
}
h1{
  transform: rotate(-90deg);
  position: absolute;
  top: 45%;
  left: -1%;
  font-family: "Niconne", cursive;
  font-weight: 500;
  font-size: 50px;
  font-style: normal;


 

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.right{
  width: 50%;
  background-color: rgb(203, 61, 32);
}
ul{
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  left: 25%;
  top: 22%;
  
}
ul li{
  display: flex;
  flex-direction: column;
 line-height: 25px;
  font-size: 20px;
  

}
ul li p{
  text-decoration: underline;
  text-decoration-color: rgba(213, 207, 207, 0.614);
  margin-bottom: 15px;
  color: grey;
  
}
img{
  position: absolute;
  height: 800px;
  left: 9.2%;
  top:-5%;
  
  
}
#nav-right{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top:45px ;
  color: rgba(238, 243, 247, 0.874);
}
h2{
  color: white;
  letter-spacing: 1px;
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 18%;
  left: 70%;
  font-size: 50px;


}
#details{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
  position: absolute;
  top: 35%;
  left: 58%;
 
  
}
#image img{
  height: 300px;
  width: 200px;
}
#image p{
 position: absolute;
 bottom: 30%;
 left: 23%;
 color: aliceblue;
 font-size: 15px;
 font-family: 'Times New Roman', Times, serif;
}
#local{
  display: flex;
  position: absolute;
  top: 5%;
  justify-content: center;
  align-items: center;
  gap: 5px;


}
#local p{
  color: rgba(245, 245, 245, 0.584);
}
.ri-map-pin-line{
  font-size: 50px;
}
#sex{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
  top: 25%;
}
#sex p{
  color: rgba(245, 245, 245, 0.584);
}

#size p{
  color: rgba(245, 245, 245, 0.584);
}
#size{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

.ri-men-line{
  font-size: 50px;
}
.ri-merge-cells-horizontal{
  font-size: 50px;
}
footer{
  position: absolute;
  bottom: 2%;
  left: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p{
  color: beige;
  font-size: 30px;
}
#toggle{
  height: 15px;
  width: 40px;
  background-color: rgba(245, 245, 245, 0.451);
  border-radius: 12px;
  margin: 5px;
}
#too{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
}
#circle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#too p{
  font-size: 12px;
  white-space: nowrap;
}
#button{
  height: 50px;
  width: 220px;
  background-color: beige;
  border-radius: 12px;
  padding-top: 9px;
  padding-left: 25px;
  white-space: nowrap;
  font-size: 23px;
  margin-top: 19px;
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}